.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
*.pyc
db.sqlite3
migrations/
media/cache/
media/portfolio/
media/resume/
media/photo_applicants/
media/email_images/
media/tmp/
HR_project/local_settings.py