{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load ru_phone_format %}
{% load date_format %}

{% block title %}
    Добавление кандидата
{% endblock %}

{% block styles %}
    <!-- Стили для datepicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}" >
<!-- Стили для select -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/chosen-bootstrap.css' %}" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'js/selectize/css/selectize.bootstrap3.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'js/chosen/chosen.min.css' %}" >

    <!-- увеличение картинок -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/fancy_box/source/jquery.fancybox.css' %}" >
{% endblock %}

{% block scripts %}
<!-- кастомизация select -->
<script src="{% static 'js/selectize/selectize.js' %}"></script>
<!-- увеличение картинок -->
<script src="{% static 'js/fancy_box/source/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/fancy_box_init.js' %}"></script>

<script src="{% static 'js/appliments/update_applicant.js' %}"></script>

<!-- Ajax loader -->
<script src="{% static 'js/loader.js' %}"></script>

<!-- Добавление валидации -->
    <script src="{% static 'js/form-validator/jquery.form-validator.min.js' %}"></script>
    <script src="{% static 'js/appliments/validate_applicant_form.js' %}"></script>


<!-- Плагин для клонирования формы -->
    <script src="{% static 'js/cloneya/jquery-cloneya.js' %}"></script>

<!-- Скрипт работы для datepicker -->
    <script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
<!-- Добавление формы для выбора образования -->
    <script src="{% static 'js/appliments/add_education_form.js' %}"></script>
<!-- Добавление эскиза загруженного изображения на страницу
    <script src="{% static 'js/appliments/upload_photo.js' %}"></script> -->
<!-- Инициализация элементов при загрузке страницы -->
    <script src="{% static 'js/appliments/form_init.js' %}"></script>
<!-- отправка данных на сервер -->
    <script src="{% static 'js/appliments/send_candidate_form.js' %}"></script>


{% endblock %}

{% block content %}
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Страница кандидата
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Страница кандидата</li>
          </ol>
        </section>

 <!-- action="{% url 'applicants:applicant_add' %}" -->
<form id="applicant_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!--
                    Форма добавления нового пользователя
                -->
              <div class="box box-success">
                  <div class="box-header" class='col-sm-12'>
                      <input type="hidden" id="id" name="id" value="{{ applicant_id }}">

                      <div class="col-sm-12">
                          <div class="group-control">
                            <label>{{ applicant_form.first_name.label_tag }}</label>
                            <div>
                                {{ applicant_form.first_name }}
                            </div>
                        </div>

                        <div class="group-control">
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>{{ applicant_form.last_name.label_tag }}</label>
                                <div>
                                    {{ applicant_form.last_name }}
                                </div>
                            </div>
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>{{ applicant_form.middle_name.label_tag }}</label>
                                <div>
                                    {{ applicant_form.middle_name }}
                                </div>
                            </div>
                        </div>

                          <div class="group-control">
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>{{ applicant_form.birthday.label_tag }}</label>
                                <div>
                                    <label >{{ applicant_form.birthday.value }}</label>
                                    <input type="hidden" name="birthday" value="{{ applicant_form.birthday.value|date_format }}">
                                </div>
                            </div>
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>Источник:</label>
                                <div>
                                    {{ applicant_form.source }}
                                </div>
                            </div>
                        </div>

                      </div>

                  </div>
              </div><!-- /.форма добавления пользователя -->


                <!-- Добавление вакансии -->
              <div class="box box-success">
                <div class="box-header form-horizontal">
                    <h2>Вакансии</h2>
                    <table class="table">
                        <thead>
                            <th class="col-sm-4">Предполагаемая должность</th>
                            <th class="col-sm-5">Вакансия</th>
                            <th class="col-sm-5">Уровень зарплаты в анкете</th>
                            <th class="col-sm-5">Предлагаемая зарплата</th>
                        </thead>
                        <tbody>
                            {% for v in vacancies %}
                                <tr>
                                    <td>{{ v.vacancy.position.name }}</td>
                                    <td><a target="_blank" href="">{{ v.vacancy.head.name }}, {{ v.vacancy.published_at }}</a></td>
                                    <td>{{ v.salary|intcomma }} руб.</td>
                                    <td>{{ v.suggested_salary|intcomma }} руб.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                    <h2>Выбор вакансий</h2>
                    <div id="vacancy_forms">
                        <table id="vacancy" class="table">
                            <tr>
                                <th class="col-sm-4">Предполагаемая должность</th>
                                <th class="col-sm-5">Вакансия</th>
                                <th class="col-sm-5">Уровень зарплаты в анкете</th>
                                <th class="col-sm-5">Предлагаемая зарплата</th>
                            </tr>
                            <tr class="data-wrapper">

                                <td>
                                    <select class='select' name="position" id="position" placeholder="Выберите должность">
                                        <option value>-------</option>
                                        {% for p in positions %}
                                            <option value="{{ p.id }}">{{ p.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select class='select-vacancy' placeholder="Выберите вакансию" name="vacancies" id="vacancies">
                                        <option value>-------</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" min="0" name="salary" id="salary" class="form-control">
                                </td>
                                <td>
                                    <input type="number" min="0" name="suggested_salary" id="suggested_salary" class="form-control">
                                </td>
                            </tr>
                        </table>


                        <div id="result" align="center">
                            <div id="loader">

                            </div>
                            <div id="message">

                            </div>
                        </div>

                        <div align="center" style="margin-top: 2ex;">
                            <button id='btnAddVacancy' class="btn btn-success add-new-data">
                                <label>Добавить вакансию</label>
                            </button>
                        </div>

                        <table id="tblAddingVacancy" class="table table-striped" style="margin-top: 2ex;">

                        </table>

                    </div>
                </div>

              </div>

                <!-- Контакты -->
                <div class="box box-success">
                    <div class="box-header form-horizontal">
                        <h2>Контактные данные</h2>

                        <!-- -->
                        <div class="form-group">
                            <label class="control-label col-sm-2">Телефон:</label>

                            <div class="clone-wrapper col-sm-10" style="margin-top: 1ex;  font-size: 3ex;">

                                {% for p in phones %}
                                    <div>
                                        {{ p.phone|phone_format }}
                                    </div>
                                {% endfor %}

                                <div class="clone-wrapper">
                                    <div class="toclone col-sm-12" style="display: inline-block;">
                                        <div style="display: inline-block;">
                                            <div class="col-sm-8" style="display: inline-block;">
                                                <input type="number" name="phone" class="form-control">
                                            </div>

                                            <div class="col-sm-4">
                                                <button class="clone btn btn-success">+</button>
                                                <button class="delete btn btn-danger">-</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- -->

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ applicant_form.email.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ applicant_form.email }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ applicant_form.skype.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ applicant_form.skype }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ applicant_form.icq.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ applicant_form.icq }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ applicant_form.vk.label_tag }}</label>
                            <div class="col-sm-10">
                                <div class="col-sm-5">
                                    {{ applicant_form.vk }}
                                </div>
                                <div class="col-sm-5">
                                    {% if applicant_form.vk.value %}
                                        <a target='_blank' href="{{ applicant_form.vk.value }}">Перейти на страницу</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ applicant_form.fb.label_tag }}</label>
                            <div class="col-sm-10">
                                <div class="col-sm-5">
                                    {{ applicant_form.fb }}
                                </div>
                                <div class="col-sm-5">
                                    {% if applicant_form.fb.value %}
                                        <a target='_blank'  href="{{ applicant_form.fb.value }}">Перейти на страницу</a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Контакты -->

                <div class="box box-solid">

                    <div class="box-body" align="center">
                        <div id="save_loader">

                        </div>
                        <div id="create_applicant_message" style="padding-top: 2ex;">

                        </div>
                        <div style="padding-top: 3ex;">
                            <input type="submit" value="Обновить анкету" class="btn btn-success">
                        </div>
                    </div>
                </div>

            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <div class="box box-solid">

                    <div class="box-body">
                        <div>
                            <h2>{{ applicant_form.photo.label_tag }}</h2>
                            <div align="center">
                                <div style="margin-bottom: 2ex;">
                                    {{ applicant_form.photo }}
                                </div>
                                <div>
                                    <img id='photo' style="width: 300px;" src="{{ applicant_form.instance.photo.url }}">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


              <!-- Форма ввода образования -->
              <div class="box box-solid">
                <div class="box-header">
                    <h2>Образования кандидата</h2>
                    <table class="table">
                        <thead>
                                <th>Тип образования</th>
                                <th>Специальность</th>
                                <th>Период обучения</th>
                        </thead>
                        {% for e in educations %}
                        <tbody>
                            <tr>
                                <td>{{ e.education.type }}</td>
                                <td>{{ e.major.name }}</td>
                                <td>{{ e.study_start }} ‒ {{ e.study_end }} гг.</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>


                    <h2>Выбор образований</h2>
                    <div>
                        <div>
                           {{ edu_form.education.label_tag }}
                            {{ edu_form.education }}
                        </div>
                        <div>
                            {{ edu_form.major.label_tag }}
                            {{ edu_form.major }}
                        </div>

                        <div>
                            <div class="col-sm-6">
                                {{ edu_form.study_start.label_tag }}
                                {{ edu_form.study_start }}
                            </div>
                            <div class="col-sm-6">
                                {{ edu_form.study_end.label_tag }}
                                {{ edu_form.study_end }}
                            </div>
                        </div>



                        <div id="messageEdu">

                        </div>

                        <div class="col-sm-12" style="margin-top: 10px;">
                            <input type="button" class="btn btn-success" id="btnAddEdu" value="Добавить образование">
                            <!--
                            <a href="" class="btn btn-success" id="btnAddEdu">Добавить образование</a>
                           <button class="btn btn-success" id="btnAddEdu">
                                <label>Добавить образование</label>
                           </button>
                           -->
                        </div>


                        <div style="margin-top: 2ex;">
                            <table id="tblAddingEdu" class="table">

                            </table>
                        </div>

                    </div><!-- /.Форма ввода образования-->
                </div>
              </div>
              <!-- /.Форма ввода образования -->

              <!-- Resume -->
              <div class="box box-solid bg-teal-gradient">
                  <div class="box-header" align="center">
                      <h2>Резюме</h2>
                      <table class="table">
                          {% for r in resume %}
                            <tr>
                                <td><a href="{{ r.resume_file }}"><img style="height: 32px" src="/media/download.png"></a></td>
                                <td><i>Дата загрузки:</i> {{ r.date_upload|date }}</td>
                                <td></td>
                            </tr>
                          {% empty %}
                            <h4>Нет файлов</h4>
                          {% endfor %}
                      </table>
                      <hr>

                    <h2>Добавить резюме</h2>
                    <input type="file" name="resume[]" accept="application/msword, application/pdf, .odt, .docx" multiple>
                  </div>
              </div><!-- /.box -->

                <!-- Portfolio -->
              <div class="box box-solid bg-teal-gradient">
                  <div class="box-header" align="center">
                      <h2>Портфолио</h2>
                      <table class="table">
                          {% for p in portfolio %}
                            <tr>
                                <td><a href="{{ p.portfolio_file }}"><img style="height: 32px" src="/media/download.png"></a></td>
                                <td><i>Дата загрузки:</i> {{ p.date_upload|date }}</td>
                                <td></td>
                            </tr>
                          {% empty %}
                            <h4>Нет файлов</h4>
                          {% endfor %}
                      </table>

                      <hr>

                    <h2>Добавить портфолио</h2>
                    <input type="file" name="portfolio[]" accept="application/zip, .rar, .7z" multiple>
                  </div>
              </div><!-- /.box -->

              <!-- Место жительства -->
              <div class="box box-solid bg-green-gradient">
                <div class="box-footer text-black">
                  <div class="row">
                    <div class="col-sm-12">
                        <h2>Адрес проживания</h2>
                      <!-- Место проживания -->
                        <div class="group-control">
                            <label>{{ applicant_form.city.label_tag }}</label>
                            <div>
                                {{ applicant_form.city }}
                            </div>
                        </div>

                        <div class="group-control">
                            <div class="col-sm-6" style="display: inline-block;">
                                <label>{{ applicant_form.street.label_tag }}</label>
                                <div>
                                    {{ applicant_form.street }}
                                </div>
                            </div>
                            <div class="col-sm-6" style="display: inline-block;">
                                <label>{{ applicant_form.building.label_tag }}</label>
                                <div>
                                    {{ applicant_form.building }}
                                </div>
                            </div>
                        </div>

                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
              </div><!-- /.box -->

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->

    </form>
      </div><!-- /.content-wrapper -->


{% endblock %}