{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Добавление кандидата
{% endblock %}

{% block styles %}
    <!-- Стили для datepicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}" >
<!-- Стили для select -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'js/selectize/css/selectize.bootstrap3.css' %}" >


{% endblock %}

{% block scripts %}
<!-- кастомизация select -->
<script src="{% static 'js/selectize/selectize.js' %}"></script>
<!--
<script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
-->

<!-- Ajax loader -->
<script src="{% static 'js/loader.js' %}"></script>

<!-- Добавление валидации -->
    <script src="{% static 'js/form-validator/jquery.form-validator.min.js' %}"></script>
    <script src="{% static 'js/applicants/validate_applicant_form.js' %}"></script>

<script src="{% static 'js/applicants/create_applicant.js' %}"></script>


<!-- Плагин для клонирования формы -->
    <script src="{% static 'js/cloneya/jquery-cloneya.js' %}"></script>

<!-- Скрипт работы для datepicker -->
    <script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
<!-- Добавление формы для выбора образования -->
    <script src="{% static 'js/applicants/add_education_form.js' %}"></script>
<!-- Инициализация элементов при загрузке страницы -->
    <script src="{% static 'js/applicants/form_init.js' %}"></script>
<!-- отправка данных на сервер -->
    <script src="{% static 'js/applicants/send_candidate_form.js' %}"></script>

<!-- смена знака пола -->
    <script src="{% static 'js/applicants/change_gender.js' %}"></script>
{% endblock %}

{% block content %}
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Добавление нового кандидата
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Добавление кандидата</li>
          </ol>
        </section>

 <!-- action="{% url 'applicants:applicant_add' %}" -->
<form id="applicant_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!--
                    Форма добавления нового пользователя
                -->
              <div class="box box-success">
                  <div class="box-header" class='col-sm-12'>

                      <div class="col-sm-12">
                            {% include 'applicants/includes/applicant_info.html' %}
                          <div class="group-control">
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>{{ applicant_form.birthday.label_tag }}</label>
                                <div>
                                    {{ applicant_form.birthday }}
                                </div>
                            </div>
                              <!--
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>Источник:</label>
                                <div>
                                    {{ applicant_form.source }}
                                </div>
                            </div>
                            -->
                        </div>

                      </div>

                  </div>
              </div><!-- /.форма добавления пользователя -->


                <!-- Добавление вакансии -->
              <div class="box box-success">
                <div class="box-header form-horizontal">
                    {% include 'applicants/includes/vacancy.html' %}
                </div>

              </div>

                <!-- Контакты -->
                <div class="box box-success">
                    <div class="box-header form-horizontal">
                        {% include 'applicants/includes/contacts.html' %}
                    </div>
                </div>
                <!-- ./Контакты -->

                <div class="box box-solid">

                    <div class="box-body" align="center">
                        <div id="save_loader">

                        </div>
                        <div id="create_applicant_message" style="padding-top: 2ex;">

                        </div>
                        <div style="padding-top: 3ex;">
                            <input type="submit" value="Сохранить анкету" class="btn btn-success">
                        </div>
                    </div>
                </div>

            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <div class="box box-solid">

                    <div class="box-body">
                        {% include 'applicants/includes/photo.html' %}
                    </div>
                </div>


              <!-- Форма ввода образования -->
              <div class="box box-solid">
                <div class="box-header">
                    {% include 'applicants/includes/educations.html' %}
                </div>
              </div>
              <!-- /.Форма ввода образования -->

              <!-- Resume -->
              <div class="box box-solid bg-teal-gradient">
                  <div class="box-header" align="center">

                    {% include 'applicants/includes/resume.html' %}

                  </div>
              </div><!-- /.box -->

                <!-- Portfolio -->
              <div class="box box-solid bg-green-gradient">
                  <div class="box-header" align="center">

                    {% include 'applicants/includes/portfolio.html' %}

                  </div>
              </div><!-- /.box -->

              <!-- Место жительства -->
              <div class="box box-solid bg-green-gradient">
                <div class="box-footer text-black">
                  {% include 'applicants/includes/address.html' %}
                </div>
              </div><!-- /.box -->

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->

    </form>
      </div><!-- /.content-wrapper -->


{% endblock %}