{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load date_format %}
{% load thumbnail %}

{% block title %}
    Добавление кандидата
{% endblock %}

{% block styles %}
    <!-- Стили для datepicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}" >
<!-- Стили для select -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'js/selectize/css/selectize.bootstrap3.css' %}" >

    <!-- увеличение картинок -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/fancy_box/source/jquery.fancybox.css' %}" >
{% endblock %}

{% block scripts %}
<!-- кастомизация select -->
<script src="{% static 'js/selectize/selectize.js' %}"></script>
<!-- увеличение картинок -->
<script src="{% static 'js/fancy_box/source/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/fancy_box_init.js' %}"></script>

<script src="{% static 'js/appliments/update_applicant.js' %}"></script>

<!-- Ajax loader -->
<script src="{% static 'js/loader.js' %}"></script>

<!-- Добавление валидации -->
    <script src="{% static 'js/form-validator/jquery.form-validator.min.js' %}"></script>
    <script src="{% static 'js/appliments/validate_applicant_form.js' %}"></script>


<!-- Плагин для клонирования формы -->
    <script src="{% static 'js/cloneya/jquery-cloneya.js' %}"></script>

<!-- Скрипт работы для datepicker -->
    <script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
<!-- Добавление формы для выбора образования -->
    <script src="{% static 'js/appliments/add_education_form.js' %}"></script>
<!-- Добавление эскиза загруженного изображения на страницу
    <script src="{% static 'js/appliments/upload_photo.js' %}"></script> -->
<!-- Инициализация элементов при загрузке страницы -->
    <script src="{% static 'js/appliments/form_init.js' %}"></script>


<!-- Вывод статусов кандидатов по вакансиям -->
    <script src="{% static 'js/appliments/load_history_status_applicant_vacancy.js' %}"></script>
<!-- отправка данных на сервер -->
    <script src="{% static 'js/appliments/send_candidate_form.js' %}"></script>
<!-- смена знака пола -->
    <script src="{% static 'js/appliments/change_gender.js' %}"></script>
    <script src="{% static 'js/appliments/add_event.js' %}"></script>

{% endblock %}

{% block content %}
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

          <h1>
            Страница кандидата
          </h1>

            <div style="margin-top: 2ex;">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                    История изменений анкеты
                </button>

            </div>
            <div style="margin-top: 2ex;">
                <label>Дата создания:</label> {{ applicant_form.date_created.value }}
            </div>

          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Страница кандидата</li>
          </ol>
        </section>

 <!-- action="{% url 'applicants:applicant_add' %}" -->
<form id="applicant_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ applicant_form.date_created }}
        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!--
                    Форма отображения информации о пользователе
                -->
              <div class="box box-success">
                  <div class="box-header" class='col-sm-12'>
                      <input type="hidden" id="id" name="id" value="{{ applicant_id }}">
                      <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">


                      <div class="col-sm-12">
                          {% include 'applicants/includes/applicant_info.html' %}

                          <div class="group-control">
                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>{{ applicant_form.birthday.label_tag }}</label>
                                <div>
                                    <label >{{ applicant_form.birthday.value }}</label>
                                    <input type="hidden" name="birthday" value="{{ applicant_form.birthday.value|date_format }}">
                                </div>
                            </div>

                            <div style="display: inline-block;" class='col-sm-6'>
                                <label>Возраст:</label>
                                <div>
                                    {{ applicant_form.birthday.value|age }} лет
                                </div>
                            </div>

                        </div>

                      </div>

                  </div>
              </div><!-- /.форма добавления пользователя -->


                <!-- Добавление вакансии -->
              <div class="box box-success">
                <div class="box-header form-horizontal">
                    <h2>Вакансии</h2>
                    <table class="table">
                        <tr>
                            <th class="col-sm-4">Предполагаемая должность</th>
                            <th class="col-sm-5">Вакансия</th>
                            <th class="col-sm-5">Уровень зарплаты в анкете</th>
                            <th class="col-sm-5">Предлагаемая зарплата</th>
                        </tr>
                        <tbody>
                            {% for v in vacancies %}
                                <tr>
                                    <td>
                                        {{ v.vacancy.position.name }}

                                    </td>
                                    <td><a target="_blank" href="{% url 'vacancies:vacancy_view' v.vacancy.id %}">{{ v.vacancy.head.name }}, {{ v.vacancy.published_at }}</a></td>
                                    <td>{{ v.salary|intcomma }} руб.</td>
                                    <td>{{ v.suggested_salary|intcomma }} руб.</td>
                                </tr>
                            <tr>
                                <td>
                                    <div style="margin-top: 2ex;">
                                        <button type="button" class="btn btn-primary status_candidate_vacancy" value="{{ v.id }}" data-toggle="modal" data-target="#modalVacancyStatus">
                                            Просмотреть статусы
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <label>Источник:</label> {{ v.source.source }}
                                </td>
                                <td>
                                    <div style="margin-top: 2ex;">

                                    <button type="button"
                                            class="btn btn-primary "
                                            value="{{ v.id }}"
                                            data-toggle="modal"
                                            data-target="#event_modal"
                                            id="add_event">
                                            Назначить пользователю
                                        </button>

                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                     <a href="{% url 'events:events_view' applicant_id %}">Посмотреть
                                            историю
                                            событий</a>

                    {% include 'applicants/includes/vacancy.html' %}
                </div>

              </div>

                <!-- Контакты -->
                <div class="box box-success">
                    <div class="box-header form-horizontal">
                        {% include 'applicants/includes/contacts.html' %}
                    </div>
                </div>
                <!-- ./Контакты -->

                <div class="box box-solid">

                    <div class="box-body" align="center">
                        <div id="save_loader">

                        </div>
                        <div id="create_applicant_message" style="padding-top: 2ex;">

                        </div>
                        <div style="padding-top: 3ex;">
                            <input type="submit" value="Обновить анкету" class="btn btn-success">
                        </div>
                    </div>
                </div>

            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <div class="box box-solid">

                    <div class="box-body">
                        <div>
                            <h2>{{ applicant_form.photo.label_tag }}</h2>
                            <div align="center">
                                <div style="margin-bottom: 2ex;">
                                    {{ applicant_form.photo }}
                                </div>
                                <div>

                                    <img id='photo' style="width: 300px;" src="{{ applicant_form.instance.photo.url }}">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


              <!-- Форма ввода образования -->
              <div class="box box-solid">
                <div class="box-header">
                    <h2>Образования кандидата</h2>
                    <table class="table">
                        <tr>
                                <th>Тип образования</th>
                                <th>Специальность</th>
                                <th>Период обучения</th>
                        </tr>
                        {% for e in educations %}
                        <tbody>
                            <tr>
                                <td>{{ e.education.type }}</td>
                                <td>{{ e.major.name }}</td>
                                <td>{{ e.study_start }} ‒ {{ e.study_end }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>


                    {% include 'applicants/includes/educations.html' %}
                </div>
              </div>
              <!-- /.Форма ввода образования -->

              <!-- Resume -->
              <div class="box box-solid bg-teal-gradient">
                  <div class="box-header" align="center">
                      <h2>Резюме</h2>
                      <table class="table">
                          {% for r in resume %}
                            <tr>
                                <td><a href="{{ r.resume_file }}"><img style="height: 32px" src="/media/download.png"></a></td>
                                <td><i>Дата загрузки:</i> {{ r.date_upload|date }}</td>
                                <td></td>
                            </tr>
                          {% empty %}
                            <h4>Нет файлов</h4>
                          {% endfor %}
                      </table>
                      <hr>

                        {% include 'applicants/includes/resume.html' %}
                  </div>
              </div><!-- /.box -->

                <!-- Portfolio -->
              <div class="box box-solid bg-green-gradient">
                  <div class="box-header" align="center">
                      <h2>Портфолио</h2>
                      <table class="table">
                          {% for p in portfolio %}
                            <tr>
                                <td><a href="{{ p.portfolio_file }}"><img style="height: 32px" src="/media/download.png"></a></td>
                                <td><i>Дата загрузки:</i> {{ p.date_upload|date }}</td>
                                <td></td>
                            </tr>
                          {% empty %}
                            <h4>Нет файлов</h4>
                          {% endfor %}
                      </table>

                      <hr>

                        {% include 'applicants/includes/portfolio.html' %}
                  </div>
              </div><!-- /.box -->

              <!-- Место жительства -->
              <div class="box box-solid bg-green-gradient">
                <div class="box-footer text-black">
                    {% include 'applicants/includes/address.html' %}
                </div>
              </div><!-- /.box -->

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->

    </form>


          <!--
            Модальное окно с назначением кандидату события

          -->

          <div class="modal fade" id="event_modal" tabindex="-1"
               role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h4>Назначение кандидату события</h4>
                      </div>
                      <div class="modal-body">

                          <form id="frm_events">
                              {% load bootstrap %}
                               {{event_form|bootstrap}}

                              <!--<div class="form-group">-->
                                <!--<label for="start">Вид события</label>-->
                                  <!--<input>-->
                              <!--</div>-->
                              <!--<div class="form-group">-->
                               <!--<label for="start">Начало события</label>-->
                               <!--<input type="datetime" class = "form-control"-->
                                      <!--id="start">-->

                              <!--</div>-->
                              <!--<div class="form-group">-->
                                <!--<label for="end">Окончание события</label>-->
                                <!--<input type="datetime" class = "form-control"-->
                                   <!--id="end">-->
                              <!--</div>-->

                          </form>

                      </div>
                      <div class="modal-footer">
<!--
                          <button type="button" id="save_event"
                                  class="btn btn-default">Назначить
                          </button>-->
                      </div>
                  </div>
              </div>
          </div>



          <!--
            Модальное окно с историей действий
          -->

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h4>История изменений</h4>
                      </div>
                      <div class="modal-body">

                          <table class="table">
                              <thead>
                                <th>
                                    Автор изменения
                                </th>
                              <th>
                                    Тип изменения
                                </th>
                              <th>
                                    Дата изменения
                                </th>
                              </thead>
                              <tbody>
                                {% for h in history_action %}
                                    <tr>
                                        <td>{{ h.user.first_name }} {{ h.user.last_name }}</td>
                                        <td>{{ h.type_change }}</td>
                                        <td>{{ h.date_change }}</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                          </table>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                      </div>
                  </div>
              </div>
          </div>


          <!--
            Модальное окно с историей изменения статуса кандидата по вакансии
          -->

          <div class="modal fade" id="modalVacancyStatus" tabindex="-1" role="dialog" aria-labelledby="modalVacancyStatusLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h4>Изменения статуса кандидата по вакансии</h4>
                      </div>
                      <div class="modal-body">

                          <div>
                              <h4>Добавить статус</h4>

                              <div id="divStatus">

                                  <select id="applicant_vacancy_status" class="select col-sm-7" placeholder="Выбор статуса">
                                      <option value>-----</option>
                                      {% for acs in applicant_vacancy_status %}
                                        <option value="{{ acs.id }}">{{ acs.name }}</option>
                                      {% endfor %}
                                  </select>

                                  <div id="divBtnSaveStatus"></div>
                              </div>
                          </div>


                          <div id="divHistoryStatusApplicantVacancy" align="center">

                          </div>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                      </div>
                  </div>
              </div>
          </div>

      </div><!-- /.content-wrapper -->


{% endblock %}