{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles  %}

{% block title %}
    Поиск кандидатов
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.lazyload.js" type="text/javascript"></script>
    <script src="/static/js/lazyload_init.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Поиск кандидататов
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Поиск</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!--
                    Форма поиска
                -->
              <div class="box box-success">
                  <div class="box-header form-horizontal">
                      <!-- ФИО -->
                      <div>
                            <div  class="form-group">
                                <label class="control-label col-sm-2">Фамилия:</label>
                                <div class="col-sm-10">
                                    {{ form_search.first_name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Имя:</label>
                                <div class="col-sm-10">
                                    {{ form_search.last_name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Отчество:</label>
                                <div class="col-sm-10">
                                    {{ form_search.middle_name }}
                                </div>
                            </div>
                      </div>

                      <div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Email:</label>
                                <div class="col-sm-10">
                                    {{ form_search.email }}
                                </div>
                            </div>

                          <div class="form-group">
                                <label class="control-label col-sm-2">Должность:</label>
                                <div class="col-sm-10">
                                    {{ form_search.position }}
                                </div>
                            </div>

                          <div class="form-group">
                                <label class="control-label col-sm-2">Запрашиваемая зарплата:</label>
                                <div class="col-sm-10">
                                    {{ form_search.salary }}
                                </div>
                            </div>

                          <div class="form-group">
                                <label class="control-label col-sm-2">Опыт работы:</label>
                                <div class="col-sm-10">
                                    {{ form_search.experience }}
                                </div>
                            </div>
                      </div>
                  </div>

                  <div>
                      <button class="btn btn-success">Поиск</button>
                  </div>

              </div><!-- /.форма добавления пользователя -->

                <!--
                    Результаты поиска
                -->
                <div>
                    <h2>Результаты поиска</h2>

                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Фото</th>
                                    <th>ФИО</th>
                                    <th>Email</th>
                                    <th>Ссылка на страницу кандидата</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in applicants.object_list %}
                                    <tr>
                                        <td>
                                            {% thumbnail a.photo "200x200" crop="center" as im %}
                                                <img class="lazy" data-original="{{ im.url }}">
                                            {% endthumbnail %}

                                        </td>
                                        <td>{{ a.first_name }} {{ a.last_name }} {{ a.middle_name }}</td>
                                        <td>{{ a.email }}</td>
                                        <td><a target="_blank" href="{% url 'applicants:applicant_view' a.id %}" class="btn btn-success">Перейти на страницу</a></td>

                                        <td></td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% load i18n %}
                    <div align="center">
                        <ul class="pagination pagination-lg">
                            {% if applicants.has_previous %}
                                <li>
                                    <a href="?{{ applicants.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "Предыдущая" %}</a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="disabled prev">&lsaquo;&lsaquo; {% trans "Предыдущая" %}</span>
                                </li>
                            {% endif %}
                            {% for page in applicants.pages %}
                                {% if page %}
                                    {% ifequal page applicants.number %}
                                        <li>
                                            <span class="current page">{{ page }}</span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                        </li>
                                    {% endifequal %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% empty %}
                                <h2>Нет данных</h2>
                            {% endfor %}
                            {% if applicants.has_next %}
                                <li>
                                    <a href="?{{ applicants.next_page_number.querystring }}" class="next">{% trans "Следующая" %} &rsaquo;&rsaquo;</a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="disabled next">{% trans "Следующая" %} &rsaquo;&rsaquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>


            </section><!-- /.Left col -->

            </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}