{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Добавление кандидата
{% endblock %}

{% block styles %}
    <!-- Стили для datepicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}" >
<!-- Стили для select -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin_lte/bootstrap/css/select_chosen.css' %}" >


{% endblock %}

{% block scripts %}
<!-- кастомизвация select -->
    <script src="{% static 'js/chosen/chosen.jquery.js' %}"></script>

<!-- Добавление валидации -->
    <script src="{% static 'js/form-validator/jquery.form-validator.min.js' %}"></script>

<!-- Скрипт работы для datepicker -->
    <script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
<!-- Добавление формы для выбора образования -->
    <script src="{% static 'js/appliments/add_education_form.js' %}"></script>
<!-- Инициализация элементов при загрузке страницы -->
    <script src="{% static 'js/appliments/form_init.js' %}"></script>
{% endblock %}

{% block content %}
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Добавление нового кандидата
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Добавление кандидата</li>
          </ol>
        </section>
<form id="appliment_form">
        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!--
                    Форма добавления нового пользователя
                -->
              <div class="box box-success">
                <div class="box-header form-horizontal">

                    <div  class="form-group">
                        <label class="control-label col-sm-2" for="first_name">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text" name="first_name" id="first_name" class="form-control"  data-validation="custom" data-validation-regexp="^([А-Яа-яЁё]+)$" data-validation-error-msg="Фамилия должна состоять из кириллических символов">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="last_name">Имя</label>
                        <div class="col-sm-10">
                            <input type="text" name="last_name" id="last_name" class="form-control" data-validation="custom" data-validation-regexp="^([А-Яа-яЁё]+)$" data-validation-error-msg="Имя должно состоять из кириллических символов">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="middle_name">Отчество</label>
                        <div class="col-sm-10">
                            <input type="text" name="middle_name" id="middle_name" class="form-control" data-validation="middle_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="birthday">Дата рождения</label>
                        <div class="col-sm-10">
                            <input type="text" id="birthday" name="birthday" class="form-control" data-validation="date"  data-validation-format="ddd-mm-yyyy">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="experience">Стаж</label>
                        <div class="col-sm-10">
                            <input type="number" name="experience" id="experience" class="form-control">
                        </div>
                    </div>

                </div>

              </div><!-- /.форма добавления пользователя -->

                <!-- Контакты -->
                <div class="box box-success">
                    <div class="box-header form-horizontal">
                        <h2>Контактные данные</h2>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Телефон</label>
                            <div class="col-sm-10">
                                <input type="phone" name="phone" class="form-control" data-validation="number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" data-validation="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Skype</label>
                            <div class="col-sm-10">
                                <input type="text" name="skype" class="form-control" data-validation="skype">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">ICQ</label>
                            <div class="col-sm-10">
                                <input type="text" name="icq" class="form-control" data-validation="icq">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Контакты -->

                <div class="box box-solid">

                    <div class="box-body">
                        <div>
                            <input type="submit" value="Сохранить анкету" class="btn btn-success">
                        </div>
                    </div>
                </div>

            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <div class="box box-solid">

                    <div class="box-body">
                        <div>
                            <label>Фото кандидата</label>
                            <div>
                                <input type="file" name="photo">
                            </div>
                        </div>
                    </div>
                </div>


              <!-- Форма ввода образования -->
              <div class="box box-solid bg-light-blue-gradient">

                <div class="box-body" id="edu_forms">
                    <div id="edu_1">
                        <select class="select-color " data-placeholder="Выберите тип образования">
                            <option value="-1">Выберите тип образования</option>
                            {% for e in edu %}
                                <option value="{{ e.id }}">{{ e.type }}</option>
                            {% endfor %}
                        </select>

                        chosen-select
                        <select class="select-color" data-placeholder="Выберите специальность">
                            <option value="-1">Выберите специальность</option>
                            {% for m in majors %}
                                <option value="{{ m.id }}">{{ m.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div><!-- /.Форма ввода образования-->

                  <style rel="stylesheet">
                      .select-color{
                        color: black;
                      }
                  </style>
                  <button class="btn btn-success" id="add_form" value="1" onclick="addEducationForm('edu_forms');">
                      <label>Добавить образование</label>
                  </button>
                  <button class="btn btn-danger" id="remove_form" value="1" onclick="removeEducationForm();">
                      <label>Удалить образование</label>
                  </button>
              </div>
              <!-- /.Форма ввода образования -->

              <!-- solid sales graph -->
              <div class="box box-solid bg-teal-gradient">
                <label>Добавить резюме</label>
                <input type="file" name="resume[]" accept="application/msword, application/pdf, .odt, .docx">
              </div><!-- /.box -->

              <!-- Calendar -->
              <div class="box box-solid bg-green-gradient">
                <div class="box-footer text-black">
                  <div class="row"> chosen-select
                    <div class="col-sm-12">
                        <h2>Адрес проживания</h2>
                      <!-- Место проживания -->
                        <div class="group-control">
                            <label>Город</label>
                            <div>
                                <input type="text" name="city" class="form-control">
                            </div>
                        </div>

                        <div class="group-control">
                            <div style="display: inline-block;">
                                <label>Улица</label>
                                <div>
                                    <input type="text" name="street" class="form-control">
                                </div>
                            </div>
                            <div style="display: inline-block;">
                                <label>Дом</label>
                                <div>
                                    <input type="text" name="building" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
              </div><!-- /.box -->

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->
    </form>
      </div><!-- /.content-wrapper -->


{% endblock %}