{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles  %}
{% load humanize %}

{% block title %}
    Поиск кандидатов
{% endblock %}

{% block styles %}
 <!--  -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/selectize/css/selectize.bootstrap3.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'js/chosen/custom_chosen.css' %}" >

    <!-- styles for slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/ion.rangeSlider/css/normalize.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'js/ion.rangeSlider/css/ion.rangeSlider.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'js/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css' %}" >
{% endblock styles %}

{% block scripts %}
    <script src="/static/js/jquery.lazyload.js" type="text/javascript"></script>
    <script src="/static/js/lazyload_init.js" type="text/javascript"></script>
<!-- кастомизация select -->
<script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
<script src="/static/js/chosen_init.js" type="text/javascript"></script>

<script src="{% static 'js/ion.rangeSlider/js/ion.rangeSlider.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ionSlider_init.js' %}" type="text/javascript"></script>

<!-- кастомизация select -->
    <script src="{% static 'js/selectize/selectize.js' %}"></script>
    <script src="{% static 'js/selectize_init.js' %}"></script>

{% endblock scripts %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Поиск кандидататов
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Поиск</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!--
                    Форма поиска
                -->
<div class="box box-success">
                  <div class="box-header form-horizontal">
                      <form method="get" action="">
                          {% csrf_token %}
                          <!-- ФИО -->
                          <div class="col-sm-6">
                                  <div class="group-control">
                                    <label>Фамилия:</label>
                                    <div>
                                        {{ form_search.first_name }}
                                    </div>
                                </div>

                                <div class="group-control" style="margin-top:1ex;">
                                    <div style="display: inline-block;" class='col-sm-6'>
                                        <label>Имя:</label>
                                        <div>
                                            {{ form_search.last_name }}
                                        </div>
                                    </div>
                                    <div style="display: inline-block;" class='col-sm-6'>
                                        <label>Отчество</label>
                                        <div>
                                            {{ form_search.middle_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <div class="col-sm-4">
                            <div class="group-control">
                                <label>Email:</label>
                                <div>
                                    {{ form_search.email }}
                                </div>
                            </div>

                            <div class="group-control" style="margin-top:1ex;">
                                <label>Должность:</label>
                                <div>
                                    {{ form_search.position }}
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-2">
                            <div class="group-control">
                                <label>Пол:</label>
                                <div>
                                    {{ form_search.sex }}
                                </div>
                            </div>

                            <div class="group-control" style="margin-top:1ex;">
                                <label>Место жительства:</label>
                                <div>
                                    {{ form_search.city }}
                                </div>
                            </div>

                        </div>



                          <div class="col-sm-12">
                              <div class="form-group" style="margin-top:2ex;">
                                  <div>
                                      <label>Заработная плата:</label>
                                  </div>

                                    <div class="col-sm-12" style="margin-top:1ex;">
                                          <input id="salary" type="text">
                                    </div>
                                    {{ form_search.salary_start }}
                                    {{ form_search.salary_end }}

                                </div>
                          </div>
                          <div class="col-sm-12">
                              <input type="submit" class="btn btn-success" value="Найти">
                          </div>

                      </form>
                  </div>

                <!--
                    Результаты поиска
                -->
                <div>
                    <h2>Результаты поиска</h2>

                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Фото</th>
                                    <th>ФИО</th>
                                    <th>Запрашиваемая зарплата</th>
                                    <th>Email</th>
                                    <th>Ссылка на страницу кандидата</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in applicants.object_list %}
                                    <tr>
                                        <td>
                                            {% thumbnail a.applicant__photo "200x200" crop="center" as im %}
                                                <img class="lazy" data-original="{{ im.url }}">
                                            {% endthumbnail %}

                                        </td>
                                        <td>{{ a.applicant__first_name }} {{ a.applicant__last_name }} {{ a.applicant__middle_name }}</td>
                                        <td>{{ a.salary|intcomma}}</td>
                                        <td>{{ a.applicant__email }}</td>

                                        <td>
                                            <a target="_blank" href="{% url 'applicants:applicant_view' a.applicant %}" class="btn btn-success">
                                                Перейти на страницу
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% load i18n %}
                    <div align="center">
                        <ul class="pagination pagination-lg">
                            {% if applicants.has_previous %}
                                <li>
                                    <a href="?{{ applicants.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "Предыдущая" %}</a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="disabled prev">&lsaquo;&lsaquo; {% trans "Предыдущая" %}</span>
                                </li>
                            {% endif %}
                            {% for page in applicants.pages %}
                                {% if page %}
                                    {% ifequal page applicants.number %}
                                        <li>
                                            <span class="current page">{{ page }}</span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                        </li>
                                    {% endifequal %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% empty %}
                                <h2>Нет данных</h2>
                            {% endfor %}
                            {% if applicants.has_next %}
                                <li>
                                    <a href="?{{ applicants.next_page_number.querystring }}" class="next">{% trans "Следующая" %} &rsaquo;&rsaquo;</a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="disabled next">{% trans "Следующая" %} &rsaquo;&rsaquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>


            </section><!-- /.Left col -->

            </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}