{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Поиск кандидататов
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Поиск</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!--
                    Форма поиска
                -->
              <div class="box box-success">
                  <div class="box-header form-horizontal">
                      <!-- ФИО -->
                      <div>
                            <div  class="form-group">
                                <label class="control-label col-sm-2">Фамилия:</label>
                                <div class="col-sm-10">
                                    {{ form_search.first_name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Имя:</label>
                                <div class="col-sm-10">
                                    {{ form_search.last_name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Отчество:</label>
                                <div class="col-sm-10">
                                    {{ form_search.middle_name }}
                                </div>
                            </div>
                      </div>

                      <div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Email:</label>
                                <div class="col-sm-10">
                                    {{ form_search.email }}
                                </div>
                            </div>

                          <div class="form-group">
                                <label class="control-label col-sm-2">Должность:</label>
                                <div class="col-sm-10">
                                    {{ form_search.position }}
                                </div>
                            </div>

                          <div class="form-group">
                                <label class="control-label col-sm-2">Запрашиваемая зарплата:</label>
                                <div class="col-sm-10">
                                    {{ form_search.salary }}
                                </div>
                            </div>

                          <div class="form-group">
                                <label class="control-label col-sm-2">Опыт работы:</label>
                                <div class="col-sm-10">
                                    {{ form_search.experience }}
                                </div>
                            </div>
                      </div>
                  </div>

                  <div>
                      <button class="btn btn-success">Поиск</button>
                  </div>

              </div><!-- /.форма добавления пользователя -->

                <!--
                    Результаты поиска
                -->
                <div>
                    <h2>Результаты поиска</h2>

                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Фото</td>
                                    <td>ФИО</td>
                                    <td>Email</td>
                                    <td>Ссылка на страницу кандидата</td>

                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in applicants %}
                                    <tr>
                                        <td>
                                            {% thumbnail a.photo "200x200" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}

                                        </td>
                                        <td>{{ a.first_name }} {{ a.last_name }} {{ a.middle_name }}</td>
                                        <td>{{ a.email }}</td>
                                        <td><a href="{% url 'applicants:applicant_view' a.id %}" class="btn btn-success">Перейти на страницу</a></td>

                                        <td></td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination">
                        <span class="step-links">
                            {% if applicants.has_previous %}
                                <a href="?page={{ applicants.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ applicants.number }} of {{ applicants.paginator.num_pages }}.
                            </span>

                            {% if applicants.has_next %}
                                <a href="?page={{ applicants.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                </div>


            </section><!-- /.Left col -->

            </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}