{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}



{% block title %}
    Просмотр вакансии
{% endblock %}


{% block styles %}
    <!-- Стили для datepicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'vacancies/css/style.css' %}" >
{% endblock %}



{% block scripts %}
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
{% endblock %}


 {% block content %}
     <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Просмотр вакансии
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Просмотр вакансии</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
                <!--
                    Форма добавления вакансии
                -->

              <div class="box box-success">
                <div class="box-header">
                  {% load vacancy_attr_verbose %}

                    <div  class="action-button {{ status_icon }} pull-right">{{ current_status }}</div>
                    <h5><strong>{% get_verbose_field_name vacancy 'author'  %}:</strong></h5>
                    {{vacancy.author}}
                    <h5><strong>{% get_verbose_field_name vacancy 'position'  %}:</strong></h5>
                    {{vacancy.position}}
                    <h5><strong>{% get_verbose_field_name vacancy 'salary'  %}:</strong></h5>
                    <<i class="fa fa-rub"></i> {{vacancy.salary|intcomma}}
                    <h5><strong>{% get_verbose_field_name vacancy 'end_date'  %}:</strong></h5>
                    {{vacancy.end_date|default:"Нет данных"}}
                    <h5><strong>{% get_verbose_field_name vacancy 'published_at'  %}:</strong></h5>
                    {{vacancy.published_at}}
                     <h5><strong>{% get_verbose_field_name vacancy 'head'  %}:</strong></h5>
                    {{vacancy.head}}
                     <h5><strong>{% get_verbose_field_name vacancy 'sex'  %}:</strong></h5>

                    {% if vacancy.sex == '1' %}
                        Муж.
                    {% else %}
                        Жен.
                    {% endif %}

                     <h5> <strong>{% get_verbose_field_name vacancy 'paid_vacation' %}:</strong></h5>
                   {{vacancy.paid_vacation|default:"Нет данных"}}
                     <h5><strong>{% get_verbose_field_name vacancy 'skills'  %}:</strong></h5>
                    {{vacancy.skills|default:"Нет данных"}}
                      <h5><strong>{% get_verbose_field_name vacancy 'advancement'  %}:</strong></h5>
                    {{vacancy.advancement|default:"Нет данных"}}
                     <h5><strong>{% get_verbose_field_name vacancy 'further_education'  %}:</strong></h5>
                    {{vacancy.further_education|default:"Нет данных"}}
                     <h5> <strong>{% get_verbose_field_name vacancy 'additional_info'  %}:</strong></h5>
                   {{vacancy.additional_info|default:"Нет данных"}}



                    <br>
                    <br>
                    <a  href="/vacancies/{{ vacancy.id }}/edit"><button type="button"
                                                                        class="btn btn-primary">Редактировать
                        вакансию</button></a>




                </div>

              </div><!-- /.форма добавления вакансии -->


            </section><!-- /.Left col -->

              <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable">
                 <div class="box box-success">
                    <div class="box-header">
                        <h4>Кандидаты на данную должность</h4>
                        <div class="well">

                            <ul id='applicant_list'>
                            {% for applicant in applicants  %}
                               <a href="/applicants/view/{{applicant.applicant.id}}"> <li> {{applicant.applicant.first_name}} {{applicant.applicant.last_name}} {{applicant.applicant.middle_name}}
                               ({{ applicant.status }})
                                   </a></li>
                            {% endfor %}

                            </ul>

                        </div>

                    </div>


              </div>


                 <div class="box box-success">
                    <div class="box-header">
                        <h4>Кандидат, принятый на работу</h4>
                        <div class="well">


                               <a href="/applicants/view/{{applicant_hired.id}}"> {{applicant_hired.first_name}} {{applicant_hired.last_name}} {{applicant_hired.middle_name}}
                                   </a>



                        </div>

                    </div>


              </div>

            </section><!-- right col -->

        </div><!-- /.row (main row) -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->



        {% endblock %}