{% extends 'base.html' %}

{% load staticfiles %}



{% block title %}
    Добавление вакансии
{% endblock %}


{% block styles %}
    <!-- Стили для datepicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'js/selectize/css/selectize.bootstrap3.css' %}" >
{% endblock %}



{% block scripts %}
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/datetimepicker-master/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'js/form-validator/jquery.form-validator.min.js' %}"></script>
<script src="{% static 'vacancies/js/vacancy_add.js' %}"></script>
{% endblock %}


 {% block content %}
     <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Добавление вакансии
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
            <li class="active">Добавление вакансии</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
             <form id='frm_add_vacancy'>{% csrf_token %}

              <section class="col-lg-6 connectedSortable">
                <!--
                    Форма добавления вакансии
                -->

              <div class="box box-success">
                <div class="box-header">
                        {{ vacancy_form.position.label_tag}}
                        {{ vacancy_form.position}}
                        {{ vacancy_form.salary.label_tag}}
                        {{ vacancy_form.salary}}
                        {{ vacancy_form.end_date.label_tag}}
                        {{ vacancy_form.end_date}}
                        {{ vacancy_form.sex.label_tag}}
                        {{ vacancy_form.sex}}
                        {{ vacancy_form.marriage_status.label_tag}}
                        {{ vacancy_form.marriage_status}}
                        {{ vacancy_form.paid_vacation.label_tag}}
                        {{ vacancy_form.paid_vacation}}
                        {{ vacancy_form.skills.label_tag}}
                        {{ vacancy_form.skills}}
                        {{ vacancy_form.additional_info.label_tag}}
                        {{ vacancy_form.additional_info}}
                 <div class="form-group">

                     <label for='benefits'>Льготы</label>

                                <select id="benefits" class="form-control" name="benefits" multiple="multiple">
                                    <option value=""></option>
                                    {% for benefit in benefits %}
                                        <option value="{{  benefit.id}}">{{ benefit.name }}</option>
                                    {% endfor %}
                                </select>

                </div>


                    <div class="form-group">
                    <label for='department'>Отдел</label>
                    <select id="department" name="department"
                            class="form-control"  data-validation='required' data-validation-error-msg="Это поле обязательно для заполнения!">
                        <option selected="'selected" value=""></option>
                        {% for department in departments %}
                            <option value="{{department.id}}">
                               {{ department.name  }}
                              </option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group" id="heads_div">

                    </div>
                    <button class="btn btn-success add-new-data"
                            id="save_vacancy">Добавить
                    </button>
                </div>
            </div>



            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable">

              <div class="box box-success">
                <div class="box-header">

                        {{ vacancy_form.duties.label_tag}}
                        {{ vacancy_form.duties}}
                        {{ vacancy_form.creation_reason.label_tag}}
                        {{ vacancy_form.creation_reason}}
                        {{ vacancy_form.further_education.label_tag}}
                        {{ vacancy_form.further_education}}
                        {{ vacancy_form.advancement.label_tag}}
                        {{ vacancy_form.advancement}}

                </div>
              </div>
            </section><!-- right col -->
             </form><!-- /.форма добавления вакансии -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->



        {% endblock %}