<div class="row">
    <div class="col-sm-12">
        <h2>Адрес проживания</h2>
      <!-- Место проживания -->
        <h3>Поиск</h3>
        <input id="fullname" name="fullname" type="text" size="100"/>
        <div class="group-control">
            <label>{{ applicant_form.city.label_tag }}</label>
            <div>
                {{ applicant_form.city }}
            </div>
        </div>

        <div class="group-control">
            <div class="col-sm-6" style="display: inline-block;">
                <label>{{ applicant_form.street.label_tag }}</label>
                <div>
                    {{ applicant_form.street }}
                </div>
            </div>
            <div class="col-sm-6" style="display: inline-block;">
                <label>{{ applicant_form.building.label_tag }}</label>
                <div>
                    {{ applicant_form.building }}
                </div>
            </div>
        </div>

    </div>
  </div>