{% load ru_phone_format %}
<div class="col-sm-12" xmlns="http://www.w3.org/1999/html">
    <div class="col-sm-8">
          <div class="group-control">
            <label>{{ applicant_form.first_name.label_tag }}</label>
            <div>
                {{ applicant_form.first_name }}
            </div>
        </div>

        <div class="group-control">
            <div style="display: inline-block;" class='col-sm-6'>
                <label>{{ applicant_form.last_name.label_tag }}</label>
                <div>
                    {{ applicant_form.last_name }}
                </div>
            </div>
            <div style="display: inline-block;" class='col-sm-6'>
                <label>{{ applicant_form.middle_name.label_tag }}</label>
                <div>
                    {{ applicant_form.middle_name }}
                </div>
            </div>
        </div>



    </div>

    <div class="col-sm-4">
        <div>
            {{ applicant_form.sex.label_tag }}
            {{ applicant_form.sex }}
        </div>
        <div align="center" style="padding-top: 3ex;">
            {% if applicant_form.sex.value == '1' %}
                <img id="gender_img" src="/media/gender/male.png" width=50ex>
            {% elif applicant_form.sex.value == '2' %}
                <img id="gender_img" src="/media/gender/female.png">
            {% else %}
                <img id="gender_img">
            {% endif %}
        </div>

    </div>


    <!-- -->
        <div class="col-sm-12" style="margin-top: 2ex;">
            <label class="control-label col-sm-2">Телефон:</label>

            <div class="col-sm-10" style="margin-top: 1ex;  font-size: 3ex;">
                <div style="margin-bottom: 1ex;" id="number_phones_list">
                    {% for p in phones %}
                        <div class="col-sm-12 number-phone-box">
                            <input type="hidden" class="phone-id" id="{{ p.id }}">
                            <div class="col-sm-8">
                                <!--<label class="phone-number" id="phone_id_{{ p.id }}">{{ p.phone|phone_format }}</label>-->
                                <label class="phone-number" id="phone_id_{{ p.id }}">{{ p.phone }}</label>
                            </div>

                            <a href="#" class="col-sm-1 btn btn-primary phone-edit" data-toggle="modal" data-target="#modalPhoneEdit">
                                <i class="fa fa-edit"></i>
                            </a>


                            <!--<div class="col-sm-2 phone-edit " id="edit_{{ p.id }}">
                                 <a class="btn btn-primary" class="easy-modal-open" href="#modal1">

                                 </a>
                             </div>-->

                            <div class="col-sm-2 phone-delete">
                                 <a class="btn btn-warning">
                                     <i class="fa fa-remove"></i>
                                 </a>
                             </div>
                        </div>
                    {% empty %}
                        <label>Нет телефонов</label>
                    {% endfor %}
                </div>


                <div style="padding-top: 2ex;" class="clone-wrapper">
                    <div class="toclone col-sm-12" style="display: inline-block;">
                        <div style="display: inline-block;">
                            <div class="col-sm-6" style="display: inline-block;">
                                <input type="text" name="phone" class="form-control">
                            </div>

                            <div class="col-sm-5">
                                <button class="clone btn btn-success"><i class="fa fa-plus"></i></button>
                                <button class="delete btn btn-danger"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    <div class="modal fade" id="modalPhoneEdit" tabindex="-1" role="dialog" aria-labelledby="modalPhoneEditLabel" aria-hidden="true">
        <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4>Редактирование номера телефона</h4>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" id="phone_id">
                    <div>
                        <input type="text" class="form-control" id="edit_number_phone">
                    </div>
                    <div>
                        <a id="change_phone_number" class="btn btn-success">Изменить номер</a>
                    </div>


                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  </div>
              </div>
        </div>
    </div>



</div>