{% load ru_phone_format %}
<div class="col-sm-12">
    <div class="col-sm-8">
          <div class="group-control">
            <label>{{ applicant_form.first_name.label_tag }}</label>
            <div>
                {{ applicant_form.first_name }}
            </div>
        </div>

        <div class="group-control">
            <div style="display: inline-block;" class='col-sm-6'>
                <label>{{ applicant_form.last_name.label_tag }}</label>
                <div>
                    {{ applicant_form.last_name }}
                </div>
            </div>
            <div style="display: inline-block;" class='col-sm-6'>
                <label>{{ applicant_form.middle_name.label_tag }}</label>
                <div>
                    {{ applicant_form.middle_name }}
                </div>
            </div>
        </div>



    </div>

    <div class="col-sm-4">
        <div>
            {{ applicant_form.sex.label_tag }}
            {{ applicant_form.sex }}
        </div>
        <div align="center" style="padding-top: 3ex;">
            {% if applicant_form.sex.value == '1' %}
                <img id="gender_img" src="/media/gender/male.png" width=50ex>
            {% elif applicant_form.sex.value == '2' %}
                <img id="gender_img" src="/media/gender/female.png">
            {% else %}
                <img id="gender_img">
            {% endif %}
        </div>

    </div>


    <!-- -->
        <div class="col-sm-12" style="margin-top: 2ex;">
            <label class="control-label col-sm-2">Телефон:</label>

            <div class="col-sm-10" style="margin-top: 1ex;  font-size: 3ex;">
                <div style="margin-bottom: 1ex;">
                    {% for p in phones %}
                        <div>
                            {{ p.phone|phone_format }}
                        </div>
                    {% endfor %}
                </div>


                <div class="clone-wrapper">
                    <div class="toclone col-sm-12" style="display: inline-block;">
                        <div style="display: inline-block;">
                            <div class="col-sm-6" style="display: inline-block;">
                                <input type="number" name="phone" class="form-control">
                            </div>

                            <div class="col-sm-5">
                                <button class="clone btn btn-success"><i class="fa fa-plus"></i></button>
                                <button class="delete btn btn-danger"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    <div class="col-sm-12" style="margin-top: 2ex;">
        <label>{{ applicant_form.note.label_tag }}</label>
            {{ applicant_form.note }}
    </div>


</div>