

<h2>Контактные данные</h2>


    <!-- -->

    <div class="form-group">
        <label class="control-label col-sm-2">{{ applicant_form.email.label_tag }}</label>
        <div class="col-sm-10">
            {{ applicant_form.email }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">{{ applicant_form.skype.label_tag }}</label>
        <div class="col-sm-10">
            {{ applicant_form.skype }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">{{ applicant_form.icq.label_tag }}</label>
        <div class="col-sm-10">
            {{ applicant_form.icq }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">{{ applicant_form.vk.label_tag }}</label>
        <div class="col-sm-10">
            <div class="col-sm-5">
                {{ applicant_form.vk }}
            </div>
            <div class="col-sm-5">
                {% if applicant_form.vk.value %}
                    <a target='_blank' href="{{ applicant_form.vk.value }}">Перейти на страницу</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">{{ applicant_form.fb.label_tag }}</label>
        <div class="col-sm-10">
            <div class="col-sm-5">
                {{ applicant_form.fb }}
            </div>
            <div class="col-sm-5">
                {% if applicant_form.fb.value %}
                    <a target='_blank'  href="{{ applicant_form.fb.value }}">Перейти на страницу</a>
                {% endif %}
            </div>

        </div>
    </div>