{% load staticfiles %}
{% load bootstrap %}

<html>
    <head>
        <link href="{% static 'admin_lte/bootstrap/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body background="/media/background/Elegant_Background-2.jpg">
        <div class="container">
            <div class="text-center logo">
                <h3>Система для подбора персонала</h3>
                <img src="/media/logo.png" width="250ex">

            </div>

            <div align="center" class="margin-bottom: 10px;">
                <h2>Авторизация пользователя</h2>
            </div>


            <div class="col-sm-offset-4 col-sm-4">
                <form method="post">
                    {% csrf_token %}
                    {{ auth_form|bootstrap}}

                    <div class="text-center">
                        <input type="submit" value="Войти" class="btn btn-success">
                    </div>

                </form>
            </div>
        </div>

    </body>
</html>