{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}
    Смена пароля
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!-- Main content -->
<!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
          <h1>Смена пароля</h1>

        <section class="content-header">
            <section class="content">
              <!-- Main row -->
              <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <div class="box box-success">
                      <div class="box-header" class='col-sm-12'>
                        <form method="post" action="{% url 'users:change_password' %}">
                            {% csrf_token %}
                            {{ reset_password_form|bootstrap }}

                            <input type="submit" value="Сменить пароль" class="btn btn-success">
                        </form>
                      </div>
                    </div>
                </section>
              </div>
            </section>
            </section>
          </div>

{% endblock %}